<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{% static "pay/css/main.css" %}">
        <link rel="stylesheet" href="{% static "pay/css/results.css" %}">
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "pay/css/datepicker.css" %}">
        
        <!--<script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>-->
        <script src="https://code.jquery.com/jquery-1.10.2.js">
</script>
  		<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js">

   
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous">
</script>
		
        </script>
        <script>



$(function() {
    $("#datepickerstart").datepicker();
    $("#datepickerend").datepicker();
});
</script>
		
		
        <script type="text/javascript">




function getList() {
    
    var data = [
    {
        flightname: "Delta Airines",
        departure: "10:40pm",
        arrival: "2:30am",
        trip: 'BOS->CHI  CHI->SFO'
    }, 
    {
        flightname: "United Airlines",
        departure: "11:40pm",
        arrival: "1:30am",
        trip: 'BOS->SLC  SLC->SFO'
    }
    
    ];
    
    
    var theTemplateScript = $('#airline-list-template').html();
    var theTemplate = Handlebars.compile(theTemplateScript);
    $('#airline-dataTable-container').empty();
    $('#airline-dataTable-container').append(theTemplate(data));
}


  $(function() {
    var projects = [
{label:'Aalborg',desc:'Denmark',value:'AAL'},
{label:'Aalesund',desc:'Norway',value:'AES'},
{label:'Aarhus',desc:'Denmark - Bus service',value:'ZID'},
{label:'Aarhus',desc:'Denmark - Tirstrup',value:'AAR'},
{label:'Aasiaat',desc:'Greenland',value:'JEG'},
{label:'Bolzano',desc:'Italy',value:'BZO'},
{label:'Boma',desc:'Congo',value:'BOA'},
{label:'Bombay',desc:'India',value:'BOM'},
{label:'Bonaire',desc:'Netherlands Antilles',value:'BON'},
{label:'Bonaventure',desc:'QC',value:'YVB'},
{label:'Bonn',desc:'Germany',value:'BNJ'},
{label:'Bora Bora',desc:'French Polynesia',value:'BOB'},
{label:'Bordeaux',desc:'France',value:'BOD'},
{label:'Borg El Arab',desc:'Egypt',value:'HBE'},
{label:'Borkum',desc:'Germany',value:'BMK'},
{label:'Borlange',desc:'Sweden',value:'BLE'},
{label:'Bornholm',desc:'Denmark',value:'RNN'},
{label:'Borroloola',desc:'Australia',value:'BOX'},
{label:'Bossaro',desc:'Somalia',value:'BSA'},
{label:'Boston',desc:'MA',value:'BOS'},
{label:'Boulder',desc:'CO - Bus service',value:'XHH'},
{label:'Boulder',desc:'CO - Hiltons Har H',value:'WHH'},
{label:'Boulder',desc:'CO - Municipal Airport',value:'WBU'},
{label:'Boulia',desc:'Australia',value:'BQL'},
{label:'Boundary',desc:'AK',value:'BYA'},
{label:'Bourgas',desc:'Bulgaria',value:'BOJ'},
{label:'Bourke',desc:'Australia',value:'BRK'},
{label:'Bournemouth',desc:'United Kingdom',value:'BOH'},
{label:'Paris',desc:'France',value:'CDG'},
{label:'Nice',desc:'France',value:'NCE'}
  ];
 
    $( "#fromcity" ).autocomplete({
      minLength: 1,
      source: projects,

      select: function( event, ui ) {
        $( "#fromcity" ).val( ui.item.value );
        $( "#fromcity-id" ).val( ui.item.label );
        $( "#fromcity-description" ).val( ui.item.desc );
 
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "<br>" + item.value + "&nbsp &nbsp" + item.desc + "</a>" )
        .appendTo( ul );
    };
		
		    $( "#tocity" ).autocomplete({
      minLength: 1,
      source: projects,

      select: function( event, ui ) {
        $( "#tocity" ).val( ui.item.value );
        $( "#tocity-id" ).val( ui.item.label );
        $( "#tocity-description" ).val( ui.item.desc );
 
        return false;
      }
    })
    .autocomplete( "instance" )._renderItem = function( ul, item ) {
      return $( "<li>" )
        .append( "<a>" + item.label + "<br>" + item.value + "&nbsp &nbsp" + item.desc + "</a>" )
        .appendTo( ul );
    };
		
  });



function showResults() {
	
	document.getElementById('view-results').style.display="block";
	document.getElementById('fromCityOutput').innerHTML = document.getElementById('fromcity').value;
	document.getElementById('toCityOutput').innerHTML = document.getElementById('tocity').value;
	getLayOverCity();
}

function getImgResults() {
	document.getElementById('image-results').style.display="block";
	document.getElementById('image-result').src ="img\\"+document.getElementById('fromcity').value+"_"+document.getElementById('tocity').value+".PNG";
}

function getLayOverCity(){
	if(document.getElementById('tocity').value == "NCE")
	{
		document.getElementById('layOverCity').innerHTML = "CDG";
	}
	else if(document.getElementById('tocity').value == "PAR")
	{
		document.getElementById('layOverCity').innerHTML = "AMS";
	}
	else{
		document.getElementById('layOverCity').innerHTML = "NYC";
	}
}

</script>
            
        
    </head>
    <body>
<script>
// This is called with the results from from FB.getLoginStatus().
function statusChangeCallback(response) {
console.log('statusChangeCallback');
console.log(response);
// The response object is returned with a status field that lets the
// app know the current login status of the person.
// Full docs on the response object can be found in the documentation
// for FB.getLoginStatus().
if (response.status === 'connected') {
// Logged into your app and Facebook.
testAPI();
} else if (response.status === 'not_authorized') {
// The person is logged into FacBONebook, but not your app.
document.getElementById('status').innerHTML = 'Please log ' +
  'into this app.';
} else {
// The person is not logged into Facebook, so we're not sure if
// they are logged into this app or not.
document.getElementById('status').innerHTML = 'Please log ' +
  'into Facebook.';
}
}

// This function is called when someone finishes with the Login
// Button.  See the onlogin handler attached to it in the sample
// code below.
function checkLoginState() {
FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});
}

window.fbAsyncInit = function() {
FB.init({
appId      : '1686737964947864',
cookie     : true,  // enable cookies to allow the server to access
                  // the session
xfbml      : true,  // parse social plugins on this page
version    : 'v2.5' // use graph api version 2.5
});

// Now that we've initialized the JavaScript SDK, we call
// FB.getLoginStatus().  This function gets the state of the
// person visiting this page and can return one of three states to
// the callback you provide.  They can be:
//
// 1. Logged into your app ('connected')
// 2. Logged into Facebook, but not your app ('not_authorized')
// 3. Not logged into Facebook and can't tell if they are logged into
//    your app or not.
//
// These three cases are handled in the callback function.

FB.getLoginStatus(function(response) {
statusChangeCallback(response);
});

};

// Load the SDK asynchronously
(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/en_US/sdk.js";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

// Here we run a very simple test of the Graph API after login is
// successful.  See statusChangeCallback() for when this call is made.
function testAPI() {
console.log('Welcome!  Fetching your information.... ');
FB.api('/me?fields=location,about,currency,email,hometown,name', function(response) {
console.log('Successful login for: ' + response.name);
console.log(response)
document.getElementById('status').innerHTML =
  'Thanks for logging in, ' + response.name + '!';
if(response.hasOwnProperty('location'))
{
document.getElementById('location').innerHTML = 'Your current location: ' + response.location.name;
}

$.ajax({
            type:"POST",
            url:"/fbcallback/",
            data: JSON.stringify(response),
            success: function(){
                console.log(JSON.stringify(response))
            }
       });

});




}
</script>
<div class="fb-login-button" scope="public_profile,email,user_location,user_hometown,email,user_about_me" onlogin="checkLoginState();" data-max-rows="1" data-size="medium" data-show-faces="true" data-auto-logout-link="true"></div>
<div id="status"></div>
<div id="location"></div>        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
            <div class="container">
            <div class="row search-container">
				<div class="wizrd-container col-xs-1" style="margin-top: -7px;">
					<!--Wizard Steps Section -->
					<div class="wizard-vertical">

						<div class="wizard-steps show">
							<div class="wstep " data-step-num="1">
								<div class="donut">
									<div>
										<span class="step active" >1</span>
									</div>
					</div>


					</div>
					<div class="wstep "  data-step-num="0">
					<div class="donut ">
					<div>
					<span class="step active" >2</span>
					</div>
					</div>


					</div>
					<div class="wstep last-child" data-step-num="0">
					<div class="donut">
					<div>
					<span class="step active">3</span>
					</div>
					</div>


					</div>
			</div>

		</div>
        	</div>
        	<div class="col-xs-8">
                <div class="input-container">
										
										<div class="input-box" style="margin-left: 10px;">
                        <div class="input-group search-box">
                            <span class="input-group-addon">From</span>
                            <input id="fromcity" type="text" class="form-control" value="BOS">
							<input type="hidden" id="fromcity-id">
							<p id="fromcity-description"></p>
                        </div>
                    </div>
										
										<div class="input-box" style="margin-left: 10px;">
                        <div class="input-group search-box">
                            <span class="input-group-addon">To</span>
                            <input id="tocity" type="text" class="form-control">
						    <input type="hidden" id="tocity-id">
							<p id="tocity-description"></p>
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-box" style="margin-left:10px">
                        <div class="input-group search-box">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <input id="datepickerstart" type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                    </div>
                    <div class="input-box" style="5px">
                        <div class="input-group search-box">
                            <span class="input-group-addon glyphicon glyphicon-calendar"></span>
                            <input id="datepickerend" type="text" class="form-control" aria-describedby="basic-addon1">
                        </div>
                    </div>
                </div>
                <div class="input-container">
                    <div class="input-box" style="margin-left:10px">
                        <div class="input-group search-box">
                            <span class="input-group-addon glyphicon glyphicon-user"></span>
                            <input type="text" class="form-control" onfocusout="showResults()">
                        </div>
                 	</div>
                 </div>	
            </div>
            <div class="text-container .col-xs-4">
            </div>
            </div>
            </div>
        
        <div class="row analysis-wizard" ng-controller="ScriptsBarController">

		
        
        
        <div id="airline-dataTable-container">
            <script id="airline-list-template" type="x-handlebars-template">



            
                <div class="table-responsive">
                        
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>Flight</th>
                                        <th>Departure</th>
                                        <th>Arrival</th>
                                        <th>Trip</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each this}}​
                                    <tr>
                                        <td>{{flightname}}</td>
                                        <td>{{departure}}</td>
                                        <td>{{arrival}}</td>
                                        <td>{{trip}}</td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                            
                        </div>
            </script>
        </div>
        


        <script src="https://code.jquery.com/jquery-{{JQUERY_VERSION}}.min.js">
</script>
        <script>


window.jQuery || document.write('<script src="js/vendor/jquery-{{JQUERY_VERSION}}.min.js"><\/script>')
</script>
        <script src="{% static "pay/js/plugins.js" %}">
</script>
        <script src="{% static "pay/js/main.js" %}">
</script>

        <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
        <script>



window.ga = function() {
    ga.q.push(arguments)
}
;
ga.q = [];
ga.l = +new Date;
ga('create', 'UA-XXXXX-Y', 'auto');
ga('send', 'pageview')
</script>
        <script src="https://www.google-analytics.com/analytics.js" async defer>
</script>

<div id="view-results" class="view-results col-sm-4 col-md-4" style="display: none;">
  <h3>Results</h3>
<div id="results-airline" class="result" style="transform: translate3d(0px, 0px, 0px);">
		<div class="stop-list">
			<div class="stop-label stop-label-origin">
				<span id="fromCityOutput">
					
				</span>
			</div>

			<div class="stop-label stop-label-playover">
				<span id="layOverCity"></span>
			</div>
			<div class="stop-label stop-label-destination">
				<span id = "toCityOutput"></span>
        	</div>
       </div>
 </div>
 <button onclick="getImgResults()">Submit</button>
</div>



<div id="image-results" style="display:none;">
	<img id="image-result"/>
 <form id="createBooking" action="{% url 'pay.views.createBooking' %}" method="post" class="niceform" novalidate>
 <input type="submit" value="Create Booking" class="button" />
 </form>	
</div>







    </body>
</html>
