<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/pay/css/normalize.css">
        <link rel="stylesheet" href="/static/pay/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="/static/pay/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/static/pay/js/vendor/handlebars-v4.0.5.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        </script>​



    </head>
    <body>
    <script>
    // Load the SDK asynchronously
    (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    window.fbAsyncInit = function() {
    FB.init({
    appId      : '1686737964947864',
    cookie     : true,  // enable cookies to allow the server to access
                      // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.6' // use graph api version 2.5
    });
    }

    </script>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


<div style="display: block">
 <table>
	<tr><td><span style="color:blue;font-size:20px">Your reservation is :</span><span style="color:red;font-size:20px">Awaiting payment</span></td></tr>
	<tr><td><span style="color:blue;font-size:20px">Reservation Reference</span><span style="color:red;font-size:20px">{{ variables.bookingRef }}</span></td></tr>
	<tr><td><span><img src="/static/pay/img/BOS_NCE_BOOK.PNG" /></span></td></tr>
	<tr><td><span><img src="/static/pay/img/BOOK_CreditCard.PNG" /></span></td></tr>
	<tr><td><span><img src="/static/pay/img/BOOK_paypal.PNG" /></span></td></tr>
	<tr><td><div class="fb-div">
	<div class="fb-div">
	<span><img src="/static/pay/img/fb_text.PNG" onclick="window.open('{% url 'pay.views.fb_pay' %}');" /></span>
	<span><div class="fb-send-to-messenger"
    messenger_app_id="1686737964947864"
    page_id="1712978292318636"
    data-ref="{{variables.amount}}"
    color="blue"
    size="standard"></div></span>
	</div></td></tr>
</table>
</div>






    </body>
</html>
