<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="/static/pay/css/normalize.css">
        <link rel="stylesheet" href="/static/pay/css/main.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script src="/static/pay/js/vendor/modernizr-2.8.3.min.js"></script>
        <script src="/static/pay/js/vendor/handlebars-v4.0.5.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
        </script>​

            
        
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        
<div style="display: block">
	<span style="color:blue;font-size:20px">Your reservation is :</span><span style="color:red;font-size:20px">Awaiting payment</span>
	<span style="color:blue;font-size:20px">Reservation Reference</span><span style="color:red;font-size:20px">{{ variables.bookingRef }}</span>
	<span><img src="/static/pay/img/BOS_NCE_BOOK.PNG" /></span>
	<span><img src="/static/pay/img/BOOK_CreditCard.PNG" /></span>
	<span><img src="/static/pay/img/BOOK_paypal.PNG" /></span>
	<div class="fb-div">
	<span><img src="/static/pay/img/fb_text.PNG" /></span>	
	<span><img src="/static/pay/img/payWithFB.PNG" onclick="window.open('./fb_pay.html');"/></span>	
	</div>
	
</div>
        

        



    </body>
</html>
